{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
  <header>
    <div class="jumbotron jumbotron-fluid mt-5" id="accueil">
      <div class="container text-center">
        <h1>Snowboard</h1>
        <p>
            Mon objectif est de crée un site collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des tricks.
        </p>
      </div>
    </div>
  </header>
<section class="pt-3">
    <div class="container">
        <div class="row">
            {% for trick in tricks %}
              <div class="col-3 py-3">
                 <div class="card h-100">
                    <img src="{{ asset('Images/default.jpg')}}" class="card-img-top" alt="Snowboard freestyle">
                    <div class="card-body">
                        <h5 class="card-title">{{ trick.title }}</h5>
                        <p class="card-text">{{ trick.description|slice(0, 50)}} ...</p>
                        <a class="btn btn-secondary" href="/tricks/update/{{ trick.id }}">Modifier</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
