footer{
  color:white;
}
footer a{
  color:#8e99a4;
}
footer a:hover{
  color:#212529;
}
.fa-arrow-down{
  position:absolute;
  width:10px;
  height:10px;
  right:5%; 
  color: #212529;
  }
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link,
.dropdown-item.active,
.dropdown-item:active {
  background-color: #212529 !important;
}