footer{
  color:white;
}
footer a{
  color:#8e99a4;
}
footer a:hover{
  color:#212529;
}
img.userimage{
  height: 50px;
  width: 50px;
}
.fa-arrow-down{
  position:absolute;
  width:10px;
  height:10px;
  right:5%; 
  color: #212529;
  }