{% extends 'base.html.twig' %}

{% block title %}Oublie de mot de passe{% endblock %}

{% block body %}
<section class="pt-5">
 <div class="container pt-5">
   {% for message in app.flashes('success') %}
      <div class="alert alert-success text-center" role="alert">
         {{ message }}
      </div>
   {% endfor %}
   {{ form_start(form) }}
      {{ form_row(form.email) }}
      <button class="btn btn-secondary">Confirme</button>
   {{ form_end(form) }}
   </div>
</section>
{% endblock %}