<footer class="fixed-bottom">
  <div class="footer-copyright text-center bg-dark py-3">
    Copyright © 2020 | Propulsé par
    <a
      href="https://www.linkedin.com/in/lionne-cl%C3%A9ment/"
      target="_blank"
      >Lionne Clément</a
    >
  </div>
</footer>